<div class="spacer"></div>
<%= simple_form_for @wiki do |w| %>

    <div class="row"> <!-- row 2 - name field -->
      <div class="name-box col-sm-5 col-xs-12">
        <%= w.text_field :name, value: @wiki.name %>
      </div>
    </div>

    <div class="row spacer"></div>

    <div class="row"> <!-- row 3 - the two text boxes -->
      <div class="col-sm-5 col-xs-12">
        <textarea id="text-input" class="form-control bordered quicksand" name="wiki[body]" oninput="this.editor.update()" ><%=@wiki.body%></textarea>
      </div>

    <%= link_to @wiki do %>
      <div class="col-sm-7 col-xs-12 preview">
        <div id="preview" class="bordered quicksand"> </div>
      </div>
    <% end %>

    </div> <!-- row 3 - the two text boxes -->

    <div class="row spacer"></div>

    <div class="row #button-row"> <!-- row 4 - buttons -->
        <div class='col-sm-2 col-xs-12'>
            <%= w.button :submit, "Update Wiki", id:"update",                         class:'button-bigger dot-matrix-reg glow-blue-text bordered dark-background'%>
            <%# end %>
        </div>
<% end %> <!--end simple_form for edit @wiki-->

        <div class='col-sm-3 col-xs-12'>
          <button id="toggle-privatize-button" class='bordered dark-background'>
            <% if current_user.subscribed %>
                <%= link_to privatize_link_text, privatize_wiki_path, method: :patch, class:'button-bigger dot-matrix-reg glow-light-text', :remote => true %>
            <% else %>
                <%= link_to "Upgrade To Premium Plan", new_charge_path,               class:'button-bigger dot-matrix-reg glow-light-text' %>
            <% end %>
          </button>
        </div>

        <% if policy(@wiki).destroy? %>
            <div class="col-sm-2  col-xs-12 pull-right text-right">
              <%= simple_form_for(@wiki, :method => :delete ) do |f|%>
                  <%= f.button :submit, "Delete Wiki", id:'delete',                   class:'button-bigger dot-matrix-reg glow-red-text dark-background bordered ', :confirm => "Delete Wiki?" %>
              <% end %>
            </div>
        <% end %>

    </div>

    <div class="spacer"></div>

<script>
    $(document).ready(function(){

        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }

        new Editor($("#text-input")[0], $("#preview")[0]);

    });
</script>


<textarea id="hidden-text" ><%= @wiki.body %></textarea>