<div class="spacer"></div>
<%= simple_form_for @wiki do |w| %>

    <div class="row"> <!-- row 2 - name field -->
      <div class="name-box col-sm-5 col-xs-12">
        <%= w.text_field :name, value: @wiki.name %>
      </div>
    </div>

    <div class="row spacer"></div>

    <div class="row"> <!-- row 3 - the two text boxes -->
      <div class="col-sm-5 col-xs-12">
        <!--<textarea id="text-input" class="form-control" name="wiki[body]" oninput="this.editor.update()" ><%=@wiki.body%></textarea>-->
        <textarea id="text-input" class="form-control" name="wiki[body]" oninput="this.editor.update()" ><%=@wiki.body%></textarea>
      </div>

    <%= link_to @wiki do %>
      <div class="col-sm-7 col-xs-12 preview">
        <div id="preview"> </div>
      </div>
    <% end %>

    </div> <!-- row 3 - the two text boxes -->

    <div class="row spacer"></div>

    <div class="row #button-row"> <!-- row 4 - buttons -->
        <div>
            <%= w.button :submit, "Update Wiki", id:"update" %>
            <%# end %>
        </div>
<% end %> <!--end simple_form for edit @wiki-->

        <div id="privatize-div">
          <button id="privatize">
            <% if current_user.subscribed %>
                  <%= link_to privatize_link_text, privatize_wiki_path, method: :patch, :remote => true %>
            <% else %>
                <%= link_to "Make Wiki Private - Must Be Premium User", edit_wiki_path %>
            <% end %>
          </button>
        </div>


        <% if policy(@wiki).destroy? %>
            <div class="col-xs-1 col-xs-offset-10">
              <%= simple_form_for(@wiki, :method => :delete ) do |f|%>
                  <%= f.button :submit, "Delete Wiki", class:'delete pull-right', id:'delete', :confirm => "Delete Wiki?" %>
              <% end %>
            </div>
        <% end %>

    </div>

<script>
    $(document).ready(function(){

        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }

        new Editor($("#text-input")[0], $("#preview")[0]);

        $('.all').hover(  function(){$('.all').addClass('glow-blue-text')},  function(){$('.all').removeClass('glow-blue-text')} );
        $('.back').hover( function(){$('.back').addClass('glow-blue-text')}, function(){$('.back').removeClass('glow-blue-text')} );

        $('#update').hover( addBlueGlow, removeBlueGlow );
        $('#delete').hover( addRedGlow, removeRedGlow );

        $('#preview').hover( addGreenGlow, removeGreenGlow);

    });
</script>


<textarea id="hidden-text" ><%= @wiki.body %></textarea>