<h1>New Wiki</h1>

<%= simple_form_for Wiki.new do |w| %>
      <%= w.label :name %>
      <%= w.text_field :name %>
      <%= w.input :body, label: false, input_html: { id: 'content-input' }, as: :hidden %>
      <div id="epiceditor"></div>
      <%= w.submit %>
<% end %>

<%= javascript_tag do %>

    var opts = {
        container: 'epiceditor',
        textarea: 'content-input',
        basePath: 'epiceditor',
        clientSideStorage: true,
        localStorageName: 'epiceditor',
        useNativeFullscreen: true,
        parser: marked,
        file: {
            name: 'epiceditor',
            defaultContent: '',
            autoSave: 100
        },
        theme: {
            base: '/themes/base/epiceditor.css',
            preview: '/themes/preview/preview-dark.css',
            editor: '/themes/editor/epic-dark.css'
        },
        button: {
            preview: true,
            fullscreen: true,
            bar: "auto"
        },
        focusOnLoad: false,
        shortcut: {
            modifier: 18,
            fullscreen: 70,
            preview: 80
        },
        string: {
            togglePreview: 'Toggle Preview Mode',
            toggleEdit: 'Toggle Edit Mode',
            toggleFullscreen: 'Enter Fullscreen'
        },
        autogrow: false
    }

    var editor = new EpicEditor().load();
    var the_editor = editor.getElement('editor').body;

    var sync_text = function(){
        $('#content-input').val(the_editor.textContent) ;
    };

    sync_text(); // sync the text immediately

    $(the_editor).on("keyup", function(){
        sync_text();
    });

<% end %>


