<textarea id="hidden-text" ><%= @wiki.body %></textarea>

<div class="row">

  <div id="icon-bar">
    <div class="all row-inline">
      <%= link_to wikis_path do %>
          <i class="fa fa-navicon fa-3x nav-icons"></i>
      <% end %>
    </div>

    <div class="back row-inline">
      <%= link_to session[:last_page] do %>
          <i class="fa fa-angle-left fa-4x nav-icons"></i>
      <% end %>
    </div>

    <div class="headlines row-inline">
      <h1><%= @wiki.name %></h1>
    </div>
  </div>


</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div id="preview" class="show"> </div>
  </div>
</div>

<% if policy(@wiki).destroy? %>
    <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?'} %>
<% end %>

<% if policy(@wiki).edit? %>
    <%= link_to "Edit", edit_wiki_path, class: 'btn btn-warning' %>
<% end %>



<script>
    $(document).ready(function(){
        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }

        var $ = function (id) { return document.getElementById(id); };
        new Editor($("hidden-text"), $("preview"));

    });
</script>