<div class="spacer"></div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-12" >
    <div class="list-group bordered">
      <%= form_tag wiki_collaborations_path do %>
          <table class="list-group-item table table-bordered table-condensed dark-background glow-light-text bordered">
            <% @users.each do |user| %>
                <tr>
                  <td class="name"><%= user.name %></td>
                  <td class="email"><%= user.email %></td>
                  <td class="check-box"><%= check_box_tag "user_ids[]", user.id, user.collab_on?(@wiki) %></td>
                </tr>
            <% end %>
          </table>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2 col-xs-offset-5">
    <%= submit_tag "Update", class: 'button-bigger dark-background bordered dot-matrix-reg glow-light-text' %>
  </div>
</div>

    <% end %>
