<!DOCTYPE html>
<html>
    <head>
      <title>Wikis</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <%= csrf_meta_tags %>
    </head>

    <body>

        <ul class='nav nav-tabs navbar-inverse'>

          <div class="pull-right user-info">
            <% if current_user %>
                <span class="glow-light-text dot-matrix-reg">
                  <%= link_to "#{(current_user.name || current_user.email)}'s Wikis #{user_status}", current_user, class:'glow-light-text' %>
                 </span>


                  <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
                    <span class="glyphicon glyphicon-user glow-light-text"></span>
                <% end %>


                </span>



                <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
                    <span class="glyphicon glyphicon-log-out glow-light-text"></span>
                <% end %>
            <% else %>
                <%= link_to "Sign In", new_user_session_path, class:'glow-light-text dot-matrix-reg' %> or
                <%= link_to "Sign Up", new_user_registration_path, class:'glow-light-text dot-matrix-reg' %>
            <% end %>
          </div>

        </ul>


        <div class='container bordered'>
          <div class="spacer"></div>
          <div class="row"> <!-- row 1 - black bar with glowing text -->
            <div class="col-md-6 col-sm-12" >

              <div id="icon-bar" class="bordered dark-background" >

                <div class="row-inline pull-left">
                  <%= link_to wikis_path, class: 'all gray-to-light-text' do %>
                      <span id="all" class="nav-icons dot-matrix-ext">=</span>
                  <% end %>
                </div>

                <div class="row-inline pull-left">
                  <%= link_to session[:last_page], class: 'all gray-to-light-text' do %>
                      <span id="back" class="nav-icons row-inline dot-matrix-ext">‹</span>
                  <% end %>
                </div>

                <div class="row-inline pull-left">
                  <span id="headline" class="glow-light-text dot-matrix-ext"> <%= @headline_text %></span>
                </div>

              </div><!-- end #icon-bar-->

            </div>

            <div class="col-md-6 col-sm-12">
              <div id="icon-bar" class="bordered dark-background">
                <div>
                  <marquee class="html-marquee glow-light-text">
                    <% if @wiki %>
                        <span id="headline-right" class="glow-light-text dot-matrix-reg"><%= privatize_header_text %></span>
                    <% else %>
                        <span id="headline-right" class="glow-light-text dot-matrix-reg"><%= @headline2_text %></span>
                    <% end %>
                  </marquee>
                </div>
              </div>
            </div>

          </div>

          <% if flash[:notice] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
              </div>
          <% elsif flash[:error] %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:error] %>
              </div>
          <% elsif flash[:alert] %>
              <div class="alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:alert] %>
              </div>
          <% end %>

          <%= yield %>

        </div><!--end container-->

    </body>

</html>
